* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, #ad1cf0, #521fdf);
}

li {
  font-size: 1rem;
}

button {
  font-size: 1rem;
}

.title {
  margin: 1rem auto;
}

.main {
  box-sizing: border-box;
  margin: auto;
  height: auto;
  max-width: 500px;
  color: #252525;
  background: #f9f9f9;
  border-radius: 20px;
  padding: 1rem;
  backdrop-filter: blur(10px);
}

#user-input {
  background: #ffffff;
  color: #252525;
  border-radius: 13px;
  padding: 0.7rem;
  flex: 1 1;
  border: 0;
  outline: 0;
  opacity: 0.8;
  font-size: 1rem;
}

.info-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem;
}

#list {
  padding: 0 0 0.7rem 0;
}

.list-element {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ffffff73;
  color: #000000;
  background: #ffffff;
  padding: 0.6rem 0.6rem 2rem 0.6rem;
  border-radius: 13px;
  margin-bottom: 0.5rem;
}

.checkbox {
  margin-right: 0.3rem;
}

.delete-btn {
  position: absolute;
  left: 0.1rem;
  bottom: 0.1rem;
  background: transparent;
  padding: 0.2rem;
  color: red;
  border: 0;
}

.task-status {
  position: absolute;
  right: 0.2rem;
}

.task-status-completed {
  position: absolute;
  right: 0.2rem;
  background: #a5a5a5;
}

.add-to-list {
  border-radius: 13px;
  padding: 0.7rem;
  position: absolute;
  right: 0;
  border: 0;
  background: #27b13e;
  color: #ffffff;
  font-weight: bold;
}

.completed {
  background: #a5a5a5;
}
